@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import "tailwindcss";


*{
    font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Audiowide", sans-serif;
}